{% extends 'iblog/base.html' %}

 {% block title %}Home Page {% endblock %}
 {% block content %}

    <div class="container">
        <h3>{{pcategory.title}}</h3>
        <div class="container">
            <img src="/media/{{pcategory.image}}" class="img-fluid">
        </div>

        <div class="container">
            <ul class="list-group">
                {% for p in posts %}
                <li class="list-group-item"><a href="/iblog/{{p.purl}}">{{p.ptitle}}</a></li>

                {% empty%}

                <h3> Currently no posts avaliable in this category</h3>

                {% endfor %}
            </ul>
        </div>

    </div>

    {% endblock %}